@import '/src/variables.scss';

.main-content {
    display: flex;
    flex-wrap: nowrap;
    @media screen and (max-width: 576px) { flex-wrap: wrap; }
    justify-content: space-between;
    .articles {
        max-width: 60rem;
        flex-grow: 2;
        .list {
            list-style: none;
            margin: 0;
            padding: 0;
            display: grid;
            @media screen and (min-width: 1200px) { grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr)); }
            @media screen and (max-width: 1200px) { grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr)); }
            column-gap: 4rem;
            row-gap: 3rem;
            .item {
                width: 100%;
                //@media screen and (min-width: 1200px) { max-width: 25rem; }
                .title {
                    margin: 1rem 0;
                }
                :link, :visited {
                    color: $colorFont;
                    text-decoration: none;
                }
                .title:hover, .title:active, .thumbnail:hover ~.title {
                    color: $colorOne;
                }
                .infos-wrapper {
                    display: grid;
                    grid-template-columns: min-content auto;
                    .category-wrapper {
                        grid-column: 1 / span 1;
                    }
                    .date {
                        grid-column: 2 / span 1;
                    }
                }
            }
        }
    }
    .side-content {
        margin-left: 3rem;
        @media screen and (max-width: 768px) { margin-left: 2rem; }
        @media screen and (max-width: 576px) { margin-left: 0; }
        .category-list {
            margin: 0;
            list-style: none;
            padding: 0;
            .item {
                margin-bottom: 0.5rem;
            }
            margin-bottom: 2rem;
        }
    }
}