@import '/src/variables.scss';

%categories {
    .javascript { background-color: #ecd716; }
    .accessibilite { background-color: #fb37ff; }
    .testing { background-color: #15d14d; }
    .all { background-color: $colorOne; }
}

.category-wrapper {
    @extend %categories;
    display: grid;
    grid-template-columns: min-content;
    text-decoration: none;
    .bullet {
        width: 0.7rem;
        height: 100%;
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        transition: width 0.5s;
    }
    .category {
        background-color: transparent;
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        margin-left: 0.7rem;
        padding-left: 0.7rem;
        z-index: 2;
        transition: color 0.5s;
    }
    &:hover, &:active {
        .category {
            color: white;
        }
        .bullet {
            width: 100%;
        }
    }
    &:link, &:visited {
        color: $colorFont;
    }
}