@import '/src/variables.scss';

/* SHARED */
%header-footer-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

%shared-sizing {
    max-width: 1200px;
    margin: auto;
    padding: 0 5rem;
    @media screen and (max-width: 768px) {
        padding: 0 1rem;
    }
}

/* HEADER */
.global-header {
    width: 100%;
    height: 5em;
    background-color: $colorOne;
    .header-content-wrapper {
        @extend %header-footer-wrapper;
        @extend %shared-sizing;
        font-family: $fontTitle;
        .logo-wrapper {
            float: left;
            font-size: $fontSize-6;
            .flipped-letter {
                display: inline-block;
                -moz-transform: scale(-1, 1);
                -webkit-transform: scale(-1, 1);
                -o-transform: scale(-1, 1);
                -ms-transform: scale(-1, 1);
                transform: scale(-1, 1);
            }
        }
        .main-nav {
            float: right;
            margin: 0;
            .list {
                margin: 0;
                display: flex;
                .item {
                    list-style: none;
                    margin-left: 5rem;
                }
            }
        }
        :link, :visited {
            color: white;
            text-decoration: none;
        }
        a {
            @extend %correctKufamAlign;
        }
    }
}

/* MAIN */
.main-wrapper {
    @extend %shared-sizing;
    margin-top: 80px;
}

/* FOOTER */
.global-footer {
    width: 100%;
    .footer-content-wrapper {
        @extend %header-footer-wrapper;
        @extend %shared-sizing;
    }
}