@import "~@fontsource/fira-sans/300.css";
@import "~@fontsource/fira-sans/400.css";
@import "~@fontsource/fira-sans/500.css";
@import "~@fontsource/fira-sans/300-italic.css";
@import "~@fontsource/fira-sans/400-italic.css";
@import "~@fontsource/fira-sans/500-italic.css";
@import "~@fontsource/kufam/400.css";
@import "~@fontsource/kufam/600.css";
@import "~@fontsource/kufam/700.css";


$fontSize-0: 1rem;
$fontSize-1: 1.1rem;
$fontSize-2: 1.2rem;
$fontSize-3: 1.44rem;
$fontSize-4: 1.728rem;
$fontSize-5: 2.074rem;
$fontSize-6: 2.488rem;
$fontSize-7: 2.986rem;

$fontRegular: "Fira Sans",  sans-serif;
$fontTitle: "Kufam",  sans-serif;

$colorOne: #007476;
$colorFont: #222222;
$colorFontLight: #777777;

%correctKufamAlign {
    vertical-align: -0.16em;
}

$heightHeader: 5rem;
$heightFooter: 3rem;
$heightMain: calc(100vh - 7rem);
$height-search-hit: 7rem;

$navBtnWidth: 1.5rem;
